
    <div class="container-fluid">
	  <div id="postThread" style="display: none;" class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form action="" method="post">
				<p><input type="text" class="form-control" placeholder="Name"></p>
				<p><input type="text" class="form-control" placeholder="Subject"></p>
				<div class="postThread-comment">
					<p><textarea placeholder="Comment" class="form-control" rows="4" noresize></textarea></p>
					<ul>
						<li>
							<div class="fileUpload btn btn-default">
								<span><i class="glyphicon glyphicon-picture"></i> Select</span>
								<input id="uploadBtn" type="file" class="upload" />
							</div>
							<input id="uploadFile" class="fileUploadInput" placeholder="" disabled="disabled" />
						</li>
					</ul>
					<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-share"></i> Post</button>
				</div>
			</form>
		</div>
    <div class="col-md-3"></div>
	  </div>
    <?php

    foreach($this->threads as $key => $value)
    {
      if($key % 4 == 0)
      {
        echo '<div class="row">';
      }
      echo '
        <div class="col-md-3">
          <h4 class="thumb-title">' .$value->threadname .'</h4>
          <small>' .$value->username .' <span class="pull-right">' .$value->date_created .' (3 mins ago)</span></small>
          <a href="thread/' .$value->pk_thread_id .'"><img src="' .WORKING_DIR .'public/img/' .$value->image_name .'" width="950" class="img-responsive" alt=""></a>
          <p><i class="glyphicon glyphicon-share-alt"></i> 3 Replies <span class="pull-right"><a href="thread/' .$value->pk_thread_id .'">#' .$value->pk_thread_id .'</a></span></p>
        </div>';
      if($key % 4 == 3)
      {
        echo '</div>';
      }
    }

    ?>
    </div>

		<div align="center">
			<nav>
			  <ul class="pagination">
				<li>
				  <a href="#" aria-label="Zurück">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
				  <a href="#" aria-label="Weiter">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			  </ul>
			</nav>
		</div>
    </div>
