<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?php echo $this->title .' - ' .WEBAPP_NAME; ?></title>
    <link href="<?php echo WORKING_DIR ?>public/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo WORKING_DIR ?>public/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div align="center"><img src="<?php echo WORKING_DIR ?>public/img/misc/nsfw.png" class="img-responsive" />
	<div class="alert alert-danger" role="alert">Warnung! Sie sind im Begriff anstössige Inhalte zu erblicken. Wenn Sie unter 18 Jahre alt sind, ist es Ihnen nicht erlaubt diese Seite zu betreten.</div>
	<h2><a href="<?php echo WORKING_DIR ?>nsfw">Ja</a>, ich bin +18 Jahre alt. </h2>
	<h3><a href="<?php echo WORKING_DIR ?>">Nein</a>, ich bin unter 18 Jahre alt</h3>

	</div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">All rights reserved. René Hammel Inc.</p>
        </div>
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="<?php echo WORKING_DIR ?>public/js/bootstrap.min.js"></script>
      <script src="<?php echo WORKING_DIR ?>public/js/main.js"></script>
    </body>
  </html>
